@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

html{
    scroll-behavior: smooth;
    scroll-padding: 60px;
}

body::before{
    display: block;
    content: "";
    height: 60px;

}

body{
    margin: 0;
    padding: 0;
    font-family: 'Ropa Sans', sans-serif !important;

}

.no-border{
    border: none !important;
}

.service-description{
    text-align: justify;
}

.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus, .navbar-toggler:active{
    outline: none !important;
    box-shadow: none !important;
}

input:focus, textarea:focus, select:focus{
    outline: none !important;
    box-shadow: none !important;
}